/*
*  @author cinbit.com
*  @date   2015-01-24
*  @email  cinbit@sina.com
*/

@charset "utf-8";

body 
{
	background-color: black;
}

.main
{
	margin:0px auto;
	width:380px;
}

.logo
{
	position:relative;
	top:40px;
	left:0px;
	padding: 40px 0px 0px 0px;
	width:93px;
	height:28px;
	background:url(xapologo.png) no-repeat left;
}

.register
{
	position:relative;
	margin:0px auto;
	padding: 100px 0px 0px 0px;
	width:216px;
	height:50px;
	background:url(xapobutton.png) no-repeat left;
}

.register:hover
{
	cursor:pointer;
	background:url(onxapobutton.png) no-repeat left;
}