
body
{
	resize:none;
}


div#header
{
	margin-top:25px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:0px;
	padding:0px;
	position:relative;
	width:800px;
//	height:128px;
}

div#container
{
	margin-top:0px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:0px;
	padding:0px;
	position:relative;
	width:800px;
//	border:1px solid #bbb;
}

div#footer
{
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
//	border:1px solid #bbb;
	padding:0px;
	position:relative;
	width:800px;
	font-size:14px;
	font-family:Tahoma;
//	line-height:50%;
}

div.titlebar
{
	margin:0 auto;
	position:relative;
	width:800px;
	height:125px;
	border:1px solid #bbb;
	border-radius:5px;
	border-right-color:#888;
	border-bottom-color:#888;
	box-shadow:1px 1px 3px #aaa;
//	cursor:pointer;
	background-color:white;
}

div.titlebar:hover
{
//	text-decoration:none;
//	text-shadow: 2px 2px 3px rgba(81,81,81,0.5);
	border:1px solid #999;
	box-shadow:0px 0px 7px rgba(81, 81, 81, 0.5);
}

.bar
{
	position:absolute;
	background:#F0F0F0 url(../images/capbg.gif) 0px 0px repeat-x;
	top:0px;
	left:0px;
	margin:2px;
	width:794px;
	height:28px;
//	padding:3px 2px 0px 2px;
	border-radius:3px 3px 0px 0px;
	border:1px solid #ddd;
//	font-family:'宋体','Arial Narrow',sans-serif;
//	font-weight:bold;
//	font-size:14px;
//	line-height:20px;
//	font:14px/20px "\5B8B\4F53",Arial, Helvetica, sans-serif;
//	color:#000;
	white-space:nowrap;
	overflow:hidden;
//	cursor:pointer;
}
.bar:hover
{
	background:#F0F0F0 url(../images/capbg.gif) 0px -24px repeat-x;
}
.bar:hover div
{
	font-weight:bold;
	color:blue;
}

.logo 
{
	float:left;
	margin:3px 0px 0px 2px;
//	position:absolute;
//	top:6px;
//	left:2px;
	width:22px;
	height:22px;
	background: url(../images/cin.jpg) 0 center no-repeat;
	cursor:pointer;
//	border:1px solid #bbb;
}
.cn 
{
	float:left;
	margin:4px 0px 0px 4px;
	font-family:'\6977\4F53','\5B8B\4F53','Arial Narrow',sans-serif;
//	font-weight:bold;
	font-size:16px;
	line-height:20px;
//	font:14px/20px '\6977\4F53','\5B8B\4F53',Arial, Helvetica, sans-serif;
	color:#666;
	white-space:nowrap;
	cursor:pointer;
//	border:1px solid #bbb;
}
.cn:hover
{
//	color:#e7931a;
}
.en 
{
	float:left;
	margin:4px 0px 0px 6px;
	font-family:'Times New Roman',sans-serif,'Arial Narrow';
//	font-weight:bold;
	font-size:14px;
	line-height:20px;
//	font:14px/20px "\5B8B\4F53",Arial, Helvetica, sans-serif;
	color:#888;
	white-space:nowrap;
//	border:1px solid #bbb;
}

div.pic 
{
	padding:1px 2px 2px 2px;
	margin:10px 0px 0px 0px;
	vertical-align:middle;
	width:60px;
	height:60px;
	border-radius:0px 0px 0px 3px;
	position:relative;
	border:1px solid #bbb;
}
.navi
{
	position:absolute;
	top:35px;
	left:2px;
	width:794px;
	height:60px;
//	padding:2px 6px 0px 2px;
//	text-align:right;
//	font-size:10px;
//	font-family:'\5B8B\4F53',Tahoma;
//	color:#888;	
	border:1px solid #bbb;
}

.llogo
{
	float:left;
	width:60px;
	height:60px;
//	border-radius:0px 0px 0px 2px;
//	position:relative;
}

.desc
{
	float:left;
	width:270px;
	height:48px;
	margin:6px 32px 0px 10px;
//	padding:4px 32px 4px 10px;
	font-family:'\6977\4F53',Tahoma,Arial,Helvetica,sans-serif;
	white-space:normal;
	line-height:16px;
	font-size:13px;
	vertical-align:top;
	overflow:hidden;
//	border:1px solid #bbb;
//	border-radius:5px;
//	border-right-color:#888;
//	border-bottom-color:#888;
//	box-shadow:1px 1px 3px #aaa;
}

.step
{
	float:left;
	width:156px;
	height:48px;
	margin:6px 5px 0px 10px;
//	padding:2px 2px 0px 3px;
	font-family:'\6977\4F53',Tahoma,Arial,Helvetica,sans-serif;
	white-space:normal;
	line-height:16px;
	font-size:13px;
	vertical-align:top;
	overflow:hidden;
//	border:1px solid #bbb;
}

.menu
{
	position:absolute;
	top:6px;
	left:650px;
	width:144px;
	height:22px;
//	padding:2px 6px 0px 2px;
//	text-align:right;
	font-size:10px;
	font-family:'\5B8B\4F53',Tahoma;
	color:#888;	
//	border:1px solid #bbb;
}

.item1
{
	float:left;
	width:70px;
	height:22px;
//	text-align:right;
	font-size:10px;
	font-family:'\5B8B\4F53',Tahoma;
	color:#888;	
	background: url(../images/wbgray.png) 0 center no-repeat;
//	border:1px solid #bbb;
//	z-index:10;
}
.item1:hover
{
	background: url(../images/wb.png) 0 center no-repeat;
	cursor:pointer;
}
.item1:hover .text
{
	color:#e7931a;
}
.item2
{
	float:left;
	width:70px;
	height:22px;
//	text-align:right;
	font-size:10px;
	font-family:'\5B8B\4F53',Tahoma;
	color:#888;	
	background: url(../images/bzgray.png) 0 center no-repeat;
//	border:1px solid #bbb;
//	z-index:10;
}
.item2:hover
{
	background: url(../images/bz.png) 0 center no-repeat;
//	color:#e7931a;
	cursor:pointer;
}
.item2:hover .text
{
	color:#e7931a;
}

.icon1
{
	float:left;
	width:22px;
	height:22px;
//	z-index:-1;
}
.icon2
{
	float:left;
	width:22px;
	height:22px;
//	z-index:-1;
}

div.text
{
	float:left;
	width:32px;
	height:14px;
	margin:3px;
	font-size:14px;
	font-family:'\6977\4F53','\5B8B\4F53',Tahoma;
	color:#888;	
//	border:1px solid #bbb;
}

.clearfix:after
{
	content: "020"; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;  
}

.clearfix 
{
	zoom: 1; 
}
div.wb img
{
	position:relative;
//	top:0px;
//	left:0px;
	width:16px;
	height:16px;
	vertical-align:bottom;
	border:1px solid #bbb;
}

div.help a
{
	line-height:18px;
	text-decoration:none;
}

div.help a:hover
{
	cursor:help;
}

div.info
{
	width:184px;
	height:18px;
	padding:2px 6px 0px 2px;
	text-align:right;
	font-size:10px;
	font-family:'宋体',Tahoma;
	color:#888;	
	position:relative;
	border:1px solid #bbb;
}

div.info img
{
	left:142px;
	width:16px;
	height:16px;
	position:absolute;
}

div.info a
{
	line-height:18px;
	text-decoration:none;
}

div.info a:hover
{
	cursor:help;
}

div#price
{
	background:#fff url(../images/bitcoin.jpg) 640px 5px no-repeat;
	background-size:24px 24px;
	padding:5px 8px 0px 2px;
	text-align:right;
	width:790px;
	height:24px;
	font-size:14px;
	font-family:Tahoma;
	font-weight:400;
	line-height:30px;
}
span#qr
{
	position:relative;
	left: -2px;
}
span#tj
{
	position:relative;
	bottom: 1px;
}
img#donate
{
	position:relative;
	margin:0px 0px 6px 0px;
}
span#donateaddr
{
	position:relative;
	bottom:12px;
}
img#cin
{
	position:relative;
	margin:0px 0px 0px 4px;
}
div.ft
{
	text-align:center;
}
span.reginfo
{
	position:relative;
	bottom:6px;
	left:0px;
	font-size: small;
}
.faucet
{
	margin:0 auto;
	position:relative;
	width:140px;
	height:45px;
	border:1px solid #bbb;
	border-radius:5px;
	border-right-color:#888;
	border-bottom-color:#888;
	box-shadow:1px 1px 3px #aaa;
	text-align:center;
//	background:url(../images/bg.jpg) no-repeat;
}

.tt
{
	position:absolute;
	width:134px;
	height:18px;
	margin:2px;
//	padding:3px 2px 0px 2px;
	border-radius:3px 3px 0px 0px;
	top:0px;
	left:0px;
	border:1px solid #bbb;
	background:#F0F0F0;
	white-space:nowrap;
	overflow:hidden;
	font:14px/20px "\5B8B\4F53",Arial, Helvetica, sans-serif;
	font-weight:400;
	cursor:pointer;
}

.tt:hover
{
	font-weight:700;
	color:blue;
}

.up
{
	position:absolute;
	width:17px;
	height:20px;
	left:3px;
	bottom:3px;
//	border:1px solid #bbb;
	cursor:pointer;
}

.dw
{
	position:absolute;
	width:17px;
	height:20px;
	left:20px;
	bottom:3px;
//	border:1px solid #bbb;
	cursor:pointer;
}

.tm
{
	position:absolute;
	width:61px;
	height:18px;
//	padding:5px 2px 0px 2px;
	left:39px;
	bottom:3px;
//	border:1px solid #bbb;
	font:14px/18px "\5B8B\4F53",Arial, Helvetica, sans-serif;
	cursor:default;
}

.hp
{
	position:absolute;
	width:17px;
	height:20px;
	right:20px;
	bottom:3px;
//	border:1px solid #bbb;
	cursor:pointer;
}

.rs
{
position:absolute;
	width:17px;
	height:20px;
	right:3px;
	bottom:3px;
//	border:1px solid #bbb;
	cursor:pointer;
}

.img
{
	border: 0;
	vertical-align:middle;
}

.rotate
{ /* 1st set of icons. Rotate them 360deg onmouseover and out */ 
	float:left;
	width:50px;
	height:50px;
	margin:5px 0px 0px 20px;
//	border:1px solid #bbb;
} 
.rotate img
{ /* 1st set of icons. Rotate them 360deg onmouseover and out */ 
//	float:left;
//	width:50px;
//	height:50px;
//	margin:5px 0px 0px 20px;
//	border:1px solid #bbb;
-moz-transition: all 0.8s ease-in-out; 
-webkit-transition: all 0.8s ease-in-out; 
-o-transition: all 0.8s ease-in-out; 
-ms-transition: all 0.8s ease-in-out; 
transition: all 0.8s ease-in-out; 
} 
.rotate img:hover
{ 
-moz-transform: rotate(360deg); 
-webkit-transform: rotate(360deg); 
-o-transform: rotate(360deg); 
-ms-transform: rotate(360deg); 
transform: rotate(360deg); 
cursor:pointer;
} 